.my-form {
    background-color: #e0dbdb;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.my-form>.bootstrap-tagsinput {
    margin-top: 10px;
    width: 100%;
}

.my-form>.bootstrap-tagsinput>input {
    width: 100%;
}

.cat-input {
    margin: 10px 0px;
}

.ng-isolate-scope,
.ta-toolbar {
    padding-bottom: 10px;
    padding-top: 10px;
}

.ta-text,
.ta-editor {
    margin-bottom: 20px;
}

div.form-control {
    overflow-y: scroll;
    width: 100%;
    height: 300px;
}

.ng-valid,
.ta-bind,
.ng-touched,
.ng-not-empty,
.ng-dirty,
.ng-valid-parse {
    height: 100%
}

.my-form>h3 {
    padding-top: 10px;
}

.fix-hack {
    overflow: auto;
}