<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>

    <meta charset="UTF-8">
    <title>Document</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bellefair|Droid+Serif">

    <!-- This is bootsnipp -->
    <link rel="stylesheet" href="style/bootstrap_overwrite.css">




    <link rel="stylesheet" type="text/css" href="css/admin-article-list.css">


</head>

<body ng-controller="myCtrl">
    <div class="run-page">
        <div class="run">

        </div>
    </div>
    <div class="wrapped-page">

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 col-sm-1 col-md-2 col-lg-2 admin-nav">
                    <div class="blog-name hidden-sm hidden-xs text-center">
                        <a href="index.html" class=admin-myblog>
                            <h2><b>MY</b> BLOG</h2>
                        </a>
                    </div>

                    <p class="place-title hidden-sm hidden-xs"><strong>General</strong></p>
                    <ul class="nav-detail none-style">
                        <li class="single-detail">
                            <a href="" class="single-detail-text"><i class="fa fa-home" aria-hidden="true"></i> <span class="hidden-sm hidden-xs">Dashboard</span> </a>

                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text" data-toggle="collapse" data-target=".post-show"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> <span class="hidden-sm hidden-xs">Post</span> </a>
                            <ul class="post-show collapse none-style in-menu">
                                <li class="single-detail"><a href="admin-t.html" class="single-detail-text">All Post</a></li>
                                <li class="single-detail"><a href="admin-new.html" class="single-detail-text">Add New</a></li>
                            </ul>
                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text"><i class="fa fa-comments-o" aria-hidden="true" ></i> <span class="hidden-sm hidden-xs">Comments </span><span class=" hidden-sm hidden-xs right number">4</span></a>

                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text" data-toggle="collapse" data-target=".cat-show"><i class="fa fa-list-alt" aria-hidden="true"></i> <span class="hidden-sm hidden-xs ">Categories </span></a>
                            <ul class="none-style cat-show collapse in-menu">
                                <li class="single-detail"><a href="admin-categories.html" class="single-detail-text">All Categories</a></li>
                                <li class="single-detail"><a href="" class="single-detail-text">Add New</a></li>
                            </ul>
                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="hidden-sm hidden-xs ">Messengers </span> <span class=" hidden-sm hidden-xs right number">1</span></a>

                        </li>
                    </ul>
                    <p class="place-title hidden-sm hidden-xs"><strong>More</strong></p>
                    <ul class="nav-detail none-style">
                        <li class="single-detail">
                            <a href="" class="single-detail-text" data-toggle="collapse" data-target=".social-show"><i class="fa fa-share-square-o" aria-hidden="true"></i> <span class="hidden-sm hidden-xs ">Social</span> </a>
                            <ul class="social-show collapse none-style in-menu">
                                <li class="single-detail"><a href="" class="single-detail-text">Facebook</a></li>
                                <li class="single-detail"><a href="" class="single-detail-text">Twitter</a></li>
                                <li class="single-detail"><a href="" class="single-detail-text">Instagram</a></li>
                            </ul>

                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text"><i class="fa fa-question-circle" aria-hidden="true"></i> <span class="hidden-sm  hidden-xs">Help</span> </a>

                        </li>
                        <li class="single-detail">
                            <a href="" class="single-detail-text"><i class="fa fa-users" aria-hidden="true"></i></i> <span class="hidden-sm hidden-xs">User Profile</span> </a>

                        </li>


                </div>
                <div class="col-xs-10 col-sm-11 col-md-10 col-lg-10 main-page">
                    <div class=" text-right noficaition">
                        <!--<a href="" class="nof"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="number fly-in">1</span></a>-->
                        <a href="" class="nof admin-inf">
                            <img src="" class="admin-img"><span class="admin">ADMIN</span><i class="fa fa-caret-down" aria-hidden="true"></i>

                        </a>
                        <ul class="text-left toggle-menu collapse none-style ">
                            <li><a>Profile</a></li>
                            <li><a>Settings <span class="right process"><strong>50%</strong></span></a></li>
                            <li><a>Help</a></li>
                            <hr>
                            <li><a data-toggle="modal" href='#modal-id'>Log out <span class="glyphicon glyphicon-log-out right" aria-hidden="true"></span></a></li>


                        </ul>
                        <div class="button-collapse left">
                            <button class="btn  button-hide">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                            <button class="btn  button-show  collapse">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        </div>

                    </div>
                    <div ng-init="apiGetCat()" class="page-section">

                        <h2 class="title-text">Categories</h2>
                        <div class="row">

                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">



                                <p> All: ({{categories.length}})</p>

                                <div class="panel panel-default">

                                    <div class="panel-heading">

                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <p><input type="checkbox" name=""> <strong> Title</strong></p>

                                            </div>

                                            <div class="col-lg-5 col-md-5 col-sm-2">Description</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">Date</div>


                                        </div>

                                    </div>

                                    <div class="panel-body">

                                        <div ng-repeat="x in categories" class="row ">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <p><input type="checkbox" name=""> <strong> {{x.name}}</strong></p>
                                                <span class="view-more"><a  data-toggle="modal" href='#delete-modal' ng-click="getCategoryId(x._id)">Delete</a></span>
                                            </div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 ">
                                                <p>{{x.description}}</p>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-3 sliceday">
                                                <p>{{x.create_date}}</p>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="panel-footer">

                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <p><input type="checkbox" name=""> <strong> Title</strong></p>

                                            </div>

                                            <div class="col-lg-5 col-md-5 col-sm-2">Description</div>
                                            <div class="col-lg-3 col-md-3 col-sm-3">Date</div>


                                        </div>
                                    </div>
                                </div>
                            </div>






                            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
                                <form ng-submit="submitCreateCategory()" method="POST" role="form" class="my-form fix-hack">
                                    <label class="title_input">Add Title</label>
                                    <input type="text" val="" ng-model="newCategory.name" class="form-control input-title cat-input">
                                    <label class="title_input">Add Description</label>
                                    <textarea class="form-control" val="" ng-model="newCategory.description" class="my-form-area cat-input" rows="5">

                                    </textarea><br>


                                    <button type="submit" class="btn btn-success right clearfix clear ">Publish</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="modal fade" id="modal-id">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Log Out ?</h4>
                </div>
                <div class="modal-body">

                    <button type="button" class="btn btn-primary right modal-btn" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-default right modal-btn">Yes</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id='delete-modal'>
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Do you sure?</h4>
                </div>
                <div class="modal-footer">
                    <form ng-submit="deleteCategory()">
                        <button type="submit" class="btn btn-danger">Yes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-edit" id="modal-id">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="POST" role="form" class="my-form fix-hack">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title">Edit</h3>
                    </div>
                    <div class="modal-body">

                        <h3 class="title_input">Add Title</h3>
                        <input type="text" val="" class="form-control input-title cat-input">
                        <h3 class="title_input">Add Description</h3>
                        <textarea class="form-control" val="" class="my-form-area cat-input" rows="5">

                                    </textarea><br>





                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-success">Save changes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>



<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="/script/admin.js"></script>
<script src="/script/admin-cat.js"></script>


<!--Latest compiled and minified JavaScript -->
<script src="/bower_components/angular/angular.js"></script>

<script src="/bower_components/angular-route/angular-route.js"></script>
<script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular.min.js'></script>
<script src="/bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="/script/app-admin.js"></script>



</html>